.showcase_image {
  background-color: #0c0c0d;
  text-align: center;

  .si_container {
    // border: 5px solid white;
    .showcase_video {
      display: block;
      position: relative;
      margin: 0 auto;
      @media (max-width: 1280px) {
        width: 100vw;
      }
      @media (max-width: 768px) {
        width: 200vw;
        overflow: hidden;
      }
    }
  }
}
