@media (prefers-reduced-motion: no-preference) {
  .SakuraButton {
    animation: SakuraButton-spin infinite 20s linear;
  }
}

@keyframes SakuraButton-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
