.contentBlock {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  align-content: space-around;
  justify-content: center;
  .contentBlock_Image {
    width: 60rem;
    margin-top: 5rem;
    @media (max-width: 768px) {
      width: 50rem;
    }
  }
  .contentBlock_Text {
    text-align: center;
    width: 50%;
    max-width: 80rem;
    @media (max-width: 1280px) {
      width: 65%;
    }
    @media (max-width: 768px) {
      width: 80%;
    }
  }
  .contentBlock_BottomLine {
    width: 80%;
    border-bottom: 2px solid #d7d7d7;
  }
}
