.introduction {
  display: flex;
  width: 1280px;
  margin: 0 auto;
  position: relative;
  //   border: 1px solid #fff;
  @media (max-width: 1280px) {
    width: auto;
  }

  .text {
    display: flex;
    position: relative;
    margin: 15rem auto;
    // top: 0;
    // left: 0;
    // bottom: 0;
    // right: 0;
    // border: 1px solid #fff;
    width: 65%;
    // @media (max-width: 768px) {
    //   width: 50%
    // }
    @media (max-width: 768px) {
      width: 80%;
    }
    p {
      text-align: center;
      color: white;
      font-size: 2rem;
      font-weight: 500;
      line-height: 3.5rem;
    }
  }
}
