@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@500&display=swap');

.body {
  position: relative;
  height: 60vh;
  max-width: 1280px;
  margin: 0 auto;
  .slogan {
    position: absolute;
    bottom: 0%;
    right: 0;
    img {
      width: 52vmin;
      animation: fadeIn 0.5s ease-in-out;
      @media (max-width: 768px) {
        width: 320px;
      }
      @media (max-width: 400px) {
        width: 260px;
      }
    }
  }
  .logo {
    position: absolute;
    top: 0;
    left: 0;

    @media (max-height: 800px) and (min-width: 1280px) {
      transform: translate(100%, 0%);
    }
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
