.showcase {
  width: 1280px;
  position: relative;
  margin: 0 auto;
  height: 550px;
  // border: 1px solid #fff;
  background-color: #74a997;
  @media (max-width: 1280px) {
    width: auto;
    height: 500px;
  }
  @media (max-width: 768px) {
    height: 290px;
  }
  .images {
    position: relative;
    width: 100%;
    margin: 0 auto;
    height: 100%;
    .svgLogo {
      display: block;
      position: absolute;
      right: 0;
      top: 0;
      margin: 1rem;
      img {
        width: 6rem;
        @media (max-width: 768px) {
          width: 5rem;
        }
      }
    }
    .screenshots {
      // display: inline;
      overflow: hidden;
      overflow-x: auto;
      position: absolute;
      bottom: -4px;
      left: 0;
      right: 0;
      text-align: center;
      padding: 0;

      img {
        width: 100rem;
        margin: 0 1rem;
        @media (max-width: 1280px) {
          width: 90rem;
        }
        @media (max-width: 768px) {
          width: 50rem;
        }
      }
    }
  }
}
