.unityProject_CTA {
  .uc_container {
    width: 100vw;
    .uc_Banner {
      display: block;
      .uc_CTA_IMG {
        display: block;
        width: 100%;
        @media (max-width: 768px) {
          width: 200%;
          overflow: hidden;
          transform: translateX(-24%);
        }
      }
    }
    .uc_Slogan {
      display: flex;
      background-color: #fff;
      justify-content: center;
      align-items: center;
      padding: 0 10% 0 10%;
      .uc_Trophy_IMG {
        margin-top: 2rem;
        width: 12rem;
        margin-right: 20%;
        @media (max-width: 768px) {
          width: 8rem;
        }
      }
      .uc_Slogan_text {
        font-size: 3rem;
        font-weight: 600;
        line-height: 5rem;
        color: #0c0c0d;
        text-align: left;
        @media (max-width: 1280px) {
          line-height: 4rem;
        }
        @media (max-width: 768px) {
          font-size: 2rem;
          line-height: 3rem;
        }
        .uc_link {
          cursor: pointer;
          color: inherit;
        }
      }
    }
  }
}
