.unityProject_CTA {
  .uc_container {
    width: 100vw;
    .uc_Banner {
      display: block;
      .uc_CTA_IMG {
        display: block;
        width: 100%;
        @media (max-width: 768px) {
          width: 200%;
          overflow: hidden;
          transform: translateX(-24%);
        }
      }
    }
    .up_cta_Slogan_Img {
      margin-top: 2rem;
      width: 12rem;
      margin-right: 20%;
      @media (max-width: 768px) {
        width: 8rem;
      }
    }
    .uc_link {
      cursor: pointer;
      color: inherit;
    }
  }
}
