@import url('https://fonts.googleapis.com/css2?family=Mrs+Saint+Delafield&display=swap');

/* MacsCollection */
.logo {
  .logoImg {
    cursor: pointer;
    text-decoration: none;
    margin: 2% auto 2.5%;
    font-family: 'Mrs Saint Delafield', cursive;
    color: white;
    white-space: nowrap;
    font-style: normal;
    width: 26rem;
    transition: all 0.3s ease-in-out;
    @media (max-width: 768px) {
      width: 26rem;
      margin: 4% auto 0%;
    }
  }
}
