.navbar {
  z-index: 100;
  width: 100%;
  white-space: nowrap;
  z-index: 1000;
  // border: 1px solid #ffee00;
  @media (max-width: 768px) {
    display: none;
  }
  ul {
    list-style: none;
    padding: 0;
    li {
      cursor: pointer;
      display: inline-block;
      //! item distance
      margin: 0.5rem 4%;
      width: auto;
      a {
        font-size: 2.2rem;
        font-weight: 500;
        color: white;
        text-decoration: none;
        transition: all 0.3s ease-in-out;
        &:hover {
          color: #ffee00;
          font-weight: 600;
          text-shadow: 0 15px 5px rgba(255, 230, 0, 0.445);
        }
      }
    }
  }
}

.linkNav {
  color: yellow;
  ul {
    li {
      margin: 0.5rem 3%;
      a {
        font-size: 2.1rem;
      }
    }
  }
}
