.footer {
  color: white;
  position: relative;
  margin: 0 auto;
  max-width: 1280px;
  height: 18vh;
  padding: 0.5rem 0;

  .section {
    // border: 1px solid rgb(255, 0, 0);
    .social {
      display: flex;
      // border: 1px solid rgb(238, 255, 0);
      ul {
        margin: 18px auto 12px;
        padding: 0;
        display: flex;
        list-style: none;
        @media (max-width: 768px) {
          margin: 20px auto 8px;
        }
        li {
          cursor: pointer;
          margin: 0 9px;
          img {
            width: 22px;
          }
        }
      }
    }
  }
  .copyright {
    p {
      margin: 0 auto;
      // line-height: 3.5rem;
      padding: 0.25rem 0;
      text-align: center;
      font-size: 1.8rem;
      font-weight: 500;
    }
  }
}
