.header {
  height: 35rem;
  position: relative;
  margin: 0 auto;
  width: 1280px;
  text-align: center;

  @media (max-width: 1280px) {
    width: auto;
  }

  .title {
    color: white;
    text-align: center;
    margin: 0 auto;
    h1 {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -160%);
      white-space: nowrap;
      display: block;
      width: 42rem;
      text-transform: uppercase;
      font-size: 4rem;
      font-weight: 500;
    }
    h2 {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -20%);
      display: block;
      width: 40rem;
      font-size: 2rem;
      font-weight: 400;
      line-height: 2.5rem;

      @media (max-width: 768px) {
        width: 35rem;
      }
    }
  }
}
