.aboutMe_CTA {
  padding-bottom: 0;
  .am_CTA_container {
    display: inline-block;
    z-index: 0;
    width: 100vw;
    height: auto;

    // border: 1px solid black;

    .am_CTA_Slogan {
      display: flex;
      background-color: #fff;
      justify-content: center;
      align-items: center;
      padding: 0 10% 0 10%;
      overflow: hidden;
      @media (max-width: 1280px) {
        padding: 0 2% 0 0%;
      }
      @media (max-width: 768px) {
        padding: 0 10% 0 10%;
      }

      .am_CTA_Slogan_triangleImg {
        position: relative;
        margin-top: 2rem;
        margin-right: 15%;
        // border: 1px solid black;
        @media (max-width: 1280px) {
          margin-right: 10%;
        }
        @media (max-width: 768px) {
          margin-right: 10%;
        }
        .am_CTA_triangle_part {
          position: absolute;
          @media (max-width: 768px) {
            display: none;
          }
        }
        .am_CTA_Slogan_img {
          width: 18rem;
          margin: 0 10rem;
          @media (max-width: 768px) {
            width: 12rem;
            margin: 0;
          }
        }
      }

      .am_CTA_Slogan_text {
        // border: 1px solid black;
        font-size: 3rem;
        font-weight: 600;
        line-height: 5rem;
        color: #0c0c0d;
        text-align: left;
        @media (max-width: 1280px) {
          line-height: 4rem;
          font-size: 2.5rem;
        }
        @media (max-width: 768px) {
          font-size: 2rem;
          line-height: 3rem;
        }
        .am_link {
          cursor: pointer;
          color: #2968b2; //LinkedIn Blue
        }
      }
    }
  }
}

// .am_CTA_triangles {
//   display: inline-block;
//   top: 50vh;
//   left: 50%;
//   transform: translate(-50%, -50%);
//   // background: #fff;
//   width: 80vw;
//   height: 40rem;
//   position: relative;
//   border-radius: 4px;
//   box-shadow: 0 0 30px 15px rgba(200, 200, 200, 0.75);
//   overflow: hidden;
//   @media (max-width: 1280px) {
//     width: 100%;
//   }
//   @media (max-width: 900px) {
//     width: 120%;
//   }
//   @media (max-width: 900px) {
//     width: 120%;
//   }
// }
