.webDesign {
  // overflow: hidden;
  color: #0c0c0d;
  background-color: white;
  padding-bottom: 5rem;
}

.webDesign_features {
  margin-top: -9rem;
}

.webDesign_BottomLine {
  height: 2.5rem;
  background-color: #0c0c0d;
}
