@import url('https://fonts.googleapis.com/css2?family=Mrs+Saint+Delafield&display=swap');

/* MacsCollection */
.logo {
  a {
    cursor: pointer;
    text-decoration: none;
    margin-bottom: 0.4%;
    font-family: 'Mrs Saint Delafield', cursive;
    color: #fff;
    white-space: nowrap;
    font-style: normal;
    font-size: 3.5rem;
    transition: all 0.3s ease-in-out;
    @media (max-width: 300px) {
      font-size: 2.5rem;
    }
    @media (max-height: 800px) {
      font-size: 3.2rem;
    }
    @media (max-width: 767px) {
      font-size: 3rem;
    }
    @media (max-width: 390px) {
      font-size: 2.8rem;
    }
  }
}
