.navbar {
  z-index: 100;
  width: 100%;
  white-space: nowrap;
  z-index: 100;
  // border: 1px solid #ffee00;
  @media (max-width: 767px) {
    display: none;
  }
  ul {
    list-style: none;

    li {
      cursor: pointer;
      display: inline-block;
      padding: 0.5% 2.4%;
      a {
        font-size: 20px;
        font-weight: 500;
        @media (max-height: 800px) {
          font-size: 18px;
        }
        color: white;
        letter-spacing: 0.02em;
        text-decoration: none;
        transition: all 0.3s ease-in-out;
        &:hover {
          color: #ffee00;
          font-weight: 600;
          text-shadow: 0 15px 5px rgba(255, 230, 0, 0.445);
        }
      }
    }
  }
}
