.boxListRight {
  z-index: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90vw;
  max-width: 1200px;
  @media (max-width: 980px) {
    align-items: center;
    flex-direction: column-reverse;
    justify-content: center;
  }
  .boxListRight_video {
    video {
      z-index: -1;
      //! 3D Transform
      transform: perspective(1500px) rotateY(-15deg);
      border-radius: 1rem;
      box-shadow: rgba(0, 0, 0, 0.6) 0px 15px 50px -12px;
      transition: all 1s ease 0s;
      &:hover {
        transform: perspective(3000px) rotateY(5deg);
        box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 50px -12px;
      }
      // Basic Properties
      flex: 1;
      justify-content: center;
      width: 100%;
      @media (max-width: 980px) {
        margin: 0 auto;
        //! 3D Transform
        // transform: perspective(600px) rotateX(5deg);
        // border-radius: 1rem;
        // box-shadow: rgba(0, 0, 0, 0.6) 0px 10px 50px -12px;
      }
    }
  }
  .boxListRight_description {
    flex: 1;
    display: flex;
    flex-direction: column;
    //! distance between video and text
    margin: 2rem 5vw 0 1.5vw;
    max-width: 50%;
    text-align: left;
    @media (max-width: 980px) {
      align-items: flex-start;
      justify-content: center;
      text-align: center;
      //! distance between video and text
      margin: 6rem auto 0;
      width: 100%;
      max-width: 460px;
    }
    h3 {
      display: flex;
      font-size: 4rem;
      letter-spacing: -0.02px;
      font-weight: 600;
      line-height: 1.375;
      //! distance between title and paragraph
      margin-bottom: 1.5rem;
      align-self: flex-start;
      word-wrap: break-word;
      @media (max-width: 980px) {
        align-self: center;
      }
    }
    p {
      display: flex;
      font-size: 2rem;
      font-weight: 500;
      align-self: flex-start;
      word-wrap: break-word;
      @media (max-width: 980px) {
        align-self: center;
      }
    }
  }
}
