.circle {
  width: 10px;
  height: 10px;
  margin: 5px;
  background: #fff;
  border-radius: 50%;
  display: block;
  z-index: 100;
}

.mobileMenuIcon {
  display: none;
  width: auto;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
}
