.subtitle {
  margin: 4rem auto;
}

.design {
  // overflow: hidden;
  padding: 4rem 0;
  color: #0c0c0d;
  background-color: white;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
  .boxLists {
    margin: 0 auto;
    max-width: 1280px;
    ol li {
      margin: 0;
      padding: 0;
      list-style-type: none;
      padding-inline-start: 0;
      .boxList {
        margin: 60px auto 80px auto;
      }
    }
  }
}
