.design {
  overflow: hidden;
  padding: 45px 0 40px;
  color: white;
  height: auto;
  background-color: white;
  margin-top: 30px;
  margin-bottom: 15px;
  color: #0c0c0d;
  .container {
    margin: 0 auto;
    max-width: 1024px;
    .heading {
      max-width: 600px;
      text-align: center;
      margin: 0 auto 60px;
      h2 {
        font-size: 40px;
        letter-spacing: -1.1px;
        font-weight: 600;
      }
    }
    ol {
      list-style: none;
    }
  }
}
