.download {
  width: 100%;
  position: relative;
  height: 70rem;
  //   border: 1px solid black;
  margin: 0 auto;
  //   @media (max-width: 1280px) {
  //     width: 75%;
  //   }
  @media (max-width: 900px) {
    height: 110rem;
  }
  .appstore {
    position: absolute;
    left: 5%;
    top: 0;
    img {
      width: 50rem;
      @media (max-width: 900px) {
        width: 45rem;
      }
    }
  }
  .downloadTitle {
    position: absolute;
    top: 12rem;
    right: 10%;
    z-index: 10;
    @media (max-width: 900px) {
      top: 75rem;
      left: 5%;
    }
    img {
      width: 45rem;
      @media (max-width: 900px) {
        width: 33rem;
      }
    }
  }
  .badges {
    position: absolute;
    top: 33rem;
    right: 12%;
    @media (max-width: 900px) {
      top: 89em;
      left: 4%;
    }
    ol li {
      list-style-type: none;

      #google {
        width: 23rem;
        @media (max-width: 900px) {
          width: 19rem;
        }
      }
      #apple {
        width: 19rem;
        transform: translate(15%, 25%);
        @media (max-width: 900px) {
          transform: translate(8%, 25%);
          width: 16rem;
        }
      }
    }
  }
}
