.webDesign_CTA {
  padding-bottom: 0;
  .wd_container {
    width: 100vw;

    .wd_Banner {
      display: block;
      .wd_CTA_IMG {
        display: block;
        width: 100%;
        @media (max-width: 768px) {
          width: 200%;
          overflow: hidden;
          transform: translateX(-24%);
        }
      }
    }
    .wd_cta_Slogan {
      padding: 0 10% 0 10%;
      @media (max-width: 768px) {
        padding: 0 6% 0 8%;
      }

      img {
        margin-top: 3.5rem;
        margin-right: 16%;
        width: 15rem;
        @media (max-width: 768px) {
          width: 12rem;
          margin-right: 12.5%;
        }
      }
    }
    .wd_link {
      cursor: pointer;
      color: inherit;
    }
  }
}
