.subtitle {
  margin: 8rem auto;
}

.feature {
  padding: 2rem 0;
  color: #0c0c0d;
  background-color: white;
  height: auto;

  .container {
    margin: 0 auto;
    max-width: 1280px;
  }
  .boxLists {
    margin: 0 auto;
    max-width: 1280px;
    ol {
      padding: 0;
      list-style: none;
      .boxList {
        //! Space between boxes
        margin: 9rem auto 8rem;
      }
    }
  }
  .download {
    width: 1280px;
    margin: 0 auto;
    @media (max-width: 1280px) {
      width: auto;
    }
  }
}
