.aboutMe {
  // overflow: hidden;
  margin-top: 5rem;
  color: #0c0c0d;
  background-color: white;
  // padding-bottom: 5rem;
  overflow: hidden;
}

.aboutMe_showcase_video {
  width: 128rem;
  @media (max-width: 768px) {
    transform: translateX(-35%);
    // padding-bottom: 2.5rem;
  }
}

.aboutMe_features {
  // margin-top: -9rem;
}

.aboutMe_CTA {
  margin-top: 6rem;
  @media (max-width: 768px) {
    margin-top: 4rem;
  }
}

.aboutMe_BottomLine {
  height: 2.5rem;
  background-color: #0c0c0d;
}
