.aboutMe {
  // overflow: hidden;
  margin-top: 2rem;
  color: #0c0c0d;
  background-color: white;
  // padding-bottom: 5rem;
  overflow: hidden;
  @media (max-width: 768px) {
    margin-top: 5vh;
  }
}

.aboutMe_features {
  // margin-top: -9rem;
}

// .aboutMe_HireMe {
//   @media (max-width: 768px) {
//     margin-top: -2rem;
//   }
// }

.aboutMe_CTA {
  margin-top: 6rem;
  @media (max-width: 768px) {
    margin-top: 4rem;
  }
}

.aboutMe_BottomLine {
  height: 2.5rem;
  background-color: #0c0c0d;
}
