.ai_Introduction {
  background-color: #0c0c0d;

  // margin-bottom: 0rem;
  .ai_Avatar {
    display: inline-block;
    width: 100%;
    .ai_Avatar_Container {
      margin: 0 auto;
      order: 0;
      display: flex;
      flex-flow: column;
      justify-content: center;
      align-items: center;
      align-content: center;
      .ai_Avatar_Image {
        flex: 0 0 auto;
        margin: 14rem auto 5rem;
        @media (max-width: 768px) {
          //! Distance from next section
          margin: 9rem auto 5rem;
        }
        border-radius: 50%;
        height: 16rem;
      }
      .ai_Avatar_Text {
        flex: 0 0 auto;
        color: white;
        font-size: 2rem;
        font-weight: 600;
        text-align: center;
        text-transform: uppercase;
        margin-bottom: -10rem; // distance between title and description
        @media (max-width: 768px) {
          margin-bottom: -2.5rem;
        }
      }
    }
  }
  .ai_Introduction_fix {
    margin-bottom: -5rem;
    @media (max-width: 768px) {
      margin-bottom: 0rem;
    }
  }
}
