.ai_Introduction {
  background-color: #0c0c0d;
  border: 1px solid red;
  margin-bottom: -2.5rem;
  .ai_Avatar {
    display: inline-block;
    width: 100%;
    .ai_Avatar_Container {
      margin: 0 auto;
      order: 0;
      display: flex;
      flex-flow: column;
      justify-content: center;
      align-items: center;
      align-content: center;
      .ai_Avatar_Image {
        flex: 0 0 auto;
        margin: 15rem auto 5rem;
        border-radius: 50%;
        width: 16rem;
      }
      .ai_Avatar_Text {
        flex: 0 0 auto;
        color: white;
        font-size: 2rem;
        font-weight: 600;
        text-align: center;
        text-transform: uppercase;
        margin-bottom: -10rem; // distance between title and description
      }
    }
  }
  .ai_Introduction_fix {
    margin-bottom: -2.5rem;
  }
}
