@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@600&display=swap');

.navbar {
  font-size: 1.4rem;
  line-height: 33px;
  text-align: center;
  font-family: 'Abhaya Libre', serif;
  display: flex;
  justify-content: space-between;
  color: white;
  width: 80%;
  white-space: nowrap;
  z-index: 10;
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    cursor: pointer;
    @media (max-width: 767px) {
      display: none;
    }

    li {
      display: inline-block;
      padding: 0.5em 2vw;
      a {
        display: inline-block;
        color: inherit;
        text-decoration: none;

        margin-left: 0%;
        transition: 0.3s ease-in-out;
        &:hover {
          color: #fff603;
          text-shadow: 0 15px 5px rgba(255, 230, 0, 0.445);
        }
      }
    }
  }
}
