@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@500&display=swap');

.body {
  position: relative;
  height: 65vh;
  margin: 0 auto;
  // border: 1px solid #fff;
  max-width: 1280px;
  @media (max-width: 767px) {
    height: 60vh;
  }
  .slogan {
    position: absolute;
    bottom: 0;
    right: 0;

    @media (min-width: 1280px) {
      transform: translate(15%, 0);
      margin-right: 5%;
    }
    img {
      width: 52vmin;
      @media (max-width: 767px) {
        width: 60vmin;
      }
    }
  }
  .logo {
    position: absolute;
    top: 2.5%;
    left: 5%;
    @media (max-height: 800px) and (min-width: 767px) {
      transform: translate(80%, 50%);
    }
    @media (max-width: 767px) {
      top: 0%;
      left: 0%;
    }
  }
}
