@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@500&display=swap');

body {
  margin: 0 auto;
  height: auto;
  width: 1280px;
  border: 5px solid #fff;
  z-index: 0;
  @media (max-width: 1280px) {
    width: auto;
  }
  .slogan {
    position: relative;
    .diem {
      position: absolute;
      top: 20vh;
      right: 0vw;
      .carpe {
        width: 70vmin;
        @media (max-width: 767px) {
          width: 80vmin;
        }
      }
    }
    .logo {
      position: absolute;
      top: 3vh;
      left: 0vw;
      @media (max-width: 767px) {
        top: 14vh;
        left: 0vw;
      }
    }
  }
}
